# ===================================================================
# artellapipe-tools-sequencespublisher requirements file
# ===================================================================

artellapipe